@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,600,800');
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");

html,
body {
  height: 100%;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-collapse {
  text-align: center;
}

iframe{
  z-index: 2;
}
.TxtHola {

    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 19pt;
    font-weight: 600 !important;
    margin-top: 130px;
    margin-bottom: 40px;

}

.btn-azul{
background-color: #74A5B2;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.navbar {
    border-radius: 0px;
    min-height: 75px;
    margin-bottom: 0px;

}

.navbar-nav>li>a{
  padding-top: 25px;

}
.navbar-inverse .navbar-nav>li>a
{
 color: #000000;
} 

#acomodo {
    
    margin-left: 25%;
    margin-right: 25%;
}

.navbar-form{
  padding-top: 10px;
}

.navbar-inverse{
      background-color: #e2e2e2;
    border-color: #e2e2e2;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #337ab7;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #337ab7;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    }

.jumbotron {
      padding-top: 156px;
    padding-bottom: 2px;
    background-image: url(../img/ban.png);
    background-size: 100% 100%;
}


.fondosesion{
    height: 100%;
    background-color: #424242;
}

.form-signin{
padding-top: 75px;
}

#btn-registro{
        background-color: #a7ce9d;
            margin: 10px 0px 0px 0px;
}

#text1registro, #text2registro {
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.jobss
{
  padding-left: 0px;
  padding-right: 0px;

}

.fulljobs.col-md-12
{
  padding-left: 0px;
  padding-right: 0px;
}

.leftjobs
{
  border-style: solid;
  border-width: 5px;
}
.findblock
{
  height: 100%;
  background-color: #424242;
}

.findlink
{
   color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 12pt;
    font-weight: 600 !important;

      float: right;
    padding-top: 14px;
    padding-right: 50px;
}

.findlink2
{
   color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 12pt;
    font-weight: 600 !important;

      float: left;
    padding-top: 14px;
    padding-left: 30px;
}

.jobs1
{
  height: 50px;
  background-color: #CECECE;

}

.jobs2
{
  border: 1px, #000000;
    padding-top: 21px;
    margin-left: 20px;
        margin-bottom: 50px;
}

.location{
  margin-left: 20px;
  margin-bottom: 5px;
}

.location2{

 margin-bottom: 5px;
}
.location3{

 margin-bottom: 5px;
 text-align: center;
}

.TxtHola2 {
color: #000000;
    font-family: 'Raleway', sans-serif;
    font-size: 12pt;
    font-weight: 300 !important;
   display:table;
margin:0 auto;
    padding-top: 15px;

}

.TxtHola3 {
color: #74A5B2;
    font-family: 'Raleway', sans-serif;
    font-size: 15pt;
    font-weight: 600 !important;
   display:table;
margin:0 auto;
    padding-top: 15px;

}

.TxtHola4 {
   color: gray;
    font-family: 'Raleway', sans-serif;
    font-size: 12pt;
    font-weight: 300 !important;
   display:table;
    margin:0 auto;
    padding-top: 15px;

}


hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}