@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,800');
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

html,
body {
  height: 100%;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.navbar .navbar-collapse {
  text-align: center;
}

iframe{
  z-index: 2;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control:focus {
  z-index: 2;
}


.navbar {
    border-radius: 0px;
    min-height: 75px;
    margin-bottom: 0px;

}

.navbar-nav>li>a{
  padding-top: 25px;

}
.navbar-inverse .navbar-nav>li>a
{
 color: #000000;
} 

#acomodo {
    
    margin-left: 25%;
    margin-right: 25%;
}

.navbar-form{
  padding-top: 10px;
}

.navbar-inverse{
      background-color: #e2e2e2;
    border-color: #e2e2e2;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #337ab7;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #337ab7;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    }

.jumbotron {
      padding-top: 156px;
    padding-bottom: 2px;
    background-image: url(../img/ban.png);
    background-size: 100% 100%;
}


.fondosesion{
    height: 100%;
    background-color: #424242;
}

.form-signin{
padding-top: 75px;
}


#text1registro, #text2registro {
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}










.TxtHola {

    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 19pt;
    font-weight: 600 !important;
    margin-top: 130px;
    margin-bottom: 40px;

}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: 55px;
  padding: 10px;
  font-size: 16px;
}
.form-signin input[type="email"] {

  margin-bottom: 10px;
  border-radius: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 10pt;
  font-weight: 400 !important;
  background-color: #d8d8d8;
  padding-left: 25px;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-radius: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 10pt;
  font-weight: 400 !important;
  background-color: #d8d8d8;
  padding-left: 25px;
}


#btn-registro{
  background-color: #a7ce9d;
  margin: 10px 0px 0px 0px;
  font-family: 'Raleway', sans-serif;
  font-size: 10pt;
  font-weight: 400 !important;
  padding: 17px 16px;
  margin-bottom: 10px;
}

/*------------------------
.jumbotronProfile {
    padding-top: 156px;
    padding-bottom: 2px;
    background-image: url(../img/image.jpg);
    background-size: 100% 100%;

}
.jumbotronPro2{
                  background: linear-gradient 
                  (rgba(20, 20, 20, .5),
                   rgba(20, 20, 20, .5)),  
                  url("images/headerbg.jpg");
}


/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
  /*background: url(../img/image.jpg) no-repeat center top;*/
  background: linear-gradient(
                     rgba(20,20,20, .7), 
                     rgba(20,20,20, .7)),
                     url(../img/image.jpg);

  background-color: black; 
  margin-top: -10px;
  padding-top:20px;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 740px;
  width: 100%;
  
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#headerwrap h2 {
  margin-top: 10px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 16pt;
  font-weight: 700 !important;
}

#headerwrap h3 {
  margin-top: 5px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 12pt;
  font-weight: 400 !important;
}

#headerwrap .followers h3 {
  margin-top: -10px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 12pt;
  font-weight: 400 !important;
  text-align:left;
  margin-left: 370px;
}

#headerwrap h4 {
  
  margin-top: 5px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 11pt;
  font-weight: 400 !important;
}

#headerwrap .pictureProfile {
  text-align: center;  
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
    margin-top: 5px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 12pt;
    font-weight: 400 !important;
    padding-right: 165px;
    padding-left: 165px;
}

hr.style1{
  border-top: 1px solid white;
  width: 400px;
}

.followers{
margin-top:10px;
text-align:center;
color: white;
font-family: 'Raleway', sans-serif;
  font-size: 12pt;
  font-weight: 400 !important;
}
.numbers{
margin:50px;
color: white;
}
.content{
display:inline-block;
}
.letters{
display:block;
}
.text{
margin-top:10px;
text-align:center;
color: white;
font-family: 'Raleway', sans-serif;
  font-size: 12pt;
  font-weight: 400 !important;
  width: 400px;
    margin: auto;
    text-align: justify;
}

.fa,.iconSocial{
  font-size:26px;
  color: white;
  margin-right: 30px;

}

.arrowdown {
margin-top: 100px;
}