@import url('https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,600,700,800');
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

html,
body {
  height: 100%;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
      font-family: 'Raleway', sans-serif;
    font-size: 12pt;
    font-weight: 800 !important;
    color: #424242;
}
.navbar .navbar-collapse {
  text-align: center;
}

iframe{
  z-index: 2;
}
.TxtHola {

    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 19pt;
    font-weight: 600 !important;
    margin-top: 95px;
    margin-bottom: 40px;

}

.btn-azul{
background-color: #74A5B2;
border-radius: 14px;
width: 150px;
color:white;

}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: 10px;
  border: 0;
 
}
.form-signin .cbfont {
  color: #777;
 
}

.form-signin input[type="password"] {

  border: 0;
}


.navbar {
    border-radius: 0px;
    min-height: 75px;
    margin-bottom: 0px;

}

.navbar-nav>li>a{
  padding-top: 25px;

}


#acomodo {
    
    margin-left: 25%;
    margin-right: 25%;
}

.navbar-form{
  padding-top: 10px;
}

.navbar-inverse{
      background-color: #e2e2e2;
    border-color: #e2e2e2;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #74A5B2;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #74A5B2;
}
.navbar-inverse .navbar-nav>li>a{
  color: #424242;
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    }

.jumbotron {
      padding-top: 156px;
    padding-bottom: 2px;
    background-image: url(../img/ban.png);
    background-size: 100% 100%;color: #ffffff;
}


.fondosesion{
   height: 89.7%;
    background-color: #424242;
}

#btn-registro{
        background-color: #a7ce9d;
            margin: 10px 0px 0px 0px;
}

#text1registro, #text2registro {
    color: #fff;
    padding-bottom: 20px;
}

.jobss
{
  padding-left: 0px;
  padding-right: 0px;

}

.fulljobs.col-md-12
{
  padding-left: 0px;
  padding-right: 0px;
}

.leftjobs
{
  border-right-style: solid;
  border-width: 2px;
  color: #CECECE;
}
.findblock
{
  height: 100%;
  background-color: #424242;
}

.findlink
{
   color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 12pt;
    font-weight: 600 !important;

      float: right;
    padding-top: 14px;
    padding-right: 50px;
}

.findlink2
{
   color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 12pt;
    font-weight: 600 !important;

      float: left;
    padding-top: 14px;
    padding-left: 30px;
}

.jobs1
{
  height: 50px;
  background-color: #CECECE;

}

.jobs2
{
  border: 1px, #000000;
    padding-top: 21px;
    margin-left: 20px;
        margin-bottom: 50px;
}

.location{
  margin-left: 20px;
  margin-bottom: 5px;
}

.location2{

 margin-bottom: 15px;
}
.location3{

 margin-bottom: 5px;
 text-align: center;
}

.TxtHola2 {
color: #424242;
    font-family: 'Raleway', sans-serif;
    font-size: 12pt;
    font-weight: 600 !important;
   display:table;
    padding-top: 15px;

}

.TxtHola3 {
color: #74A5B2;
    font-family: 'Raleway', sans-serif;
    font-size: 18pt;
    font-weight: 500 !important;
   display:table;
    padding-left: 14px;

}

.TxtHola4 {
   color: gray;
    font-family: 'Raleway', sans-serif;
    font-size: 12pt;
    font-weight: 300 !important;
   display:table;
    margin:0 auto;

}

.TxtHola5 {
   color: gray;
    font-family: 'Raleway', sans-serif;
    font-size: 12pt;
    font-weight: 300 !important;
   display:table;
    margin:0 auto;
    padding-top: 15px;

}

.TxtHola6 {
   color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 12pt;
    font-weight: 700 !important;
   display:table;
    margin:0 auto;
    padding-top: 15px;

}

hr.style2 { 
    display: block;
    margin-top: 2.5em;
    margin-bottom: 2.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}


.post{
  background-color: #e2e2e2;
  border-radius: 5px;
  margin-bottom: 15px;
  margin: 5px 5px 30px 50px;
  padding-top: 10px;
    padding-bottom: 10px;
 
}

.noteTitle
{
  padding-left: 15px;
    
}


.row + .noteSub
{
  padding-left: 15px;
    padding-right: 15px
}



.post.col-md-3    
{
  width: 20%;
}

.card-img-top{
  height: 160px;
}

.banner{

    font-family: 'Raleway', sans-serif;
    font-size: 12pt;
    font-weight: 800 !important;
   display:table;
    margin:0 auto;
    padding-top: 15px;

  text-align: center;
}

.subbanner
{
  font-family: 'Raleway', sans-serif;
    font-size: 20pt;
    font-weight: 800 !important;
   display:table;
    margin:0 auto;
    padding-top: 15px;
  text-align: center;
  padding-bottom: 50px;
}

#btnSearch
{
  background-color: #424242;
  border-radius: 6px;
  margin-right: 10px;
}

#btnPostear{

  width: 120px;
  border-radius: 6px;
  background-color: #74A5B2;
  border-color: #74A5B2;
  margin-right: 10px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 12pt;
  font-weight: 800 !important;
}

#profileNavbar
{
width: 36px;
border-radius: 25px;
}
.modal-body div>.form-control{
background-color: #E2E2E2;
background-image: none;
border: 1px solid #E2E2E2;
color: #878787;
}



/*AAAAAAAAAALLLLLLLDDDDDEEEEERRRRRR*/


#headerwrap {
  /*background: url(../img/image.jpg) no-repeat center top;*/
  background: linear-gradient(
                     rgba(20,20,20, .7), 
                     rgba(20,20,20, .7)),
                     url(../img/image.jpg);

  background-color: black; 
  margin-top: -10px;
  padding-top:20px;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 740px;
  width: 100%;
  
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#headerwrap h2 {
  margin-top: 10px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 16pt;
  font-weight: 700 !important;
}

#headerwrap h3 {
  margin-top: 5px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 12pt;
  font-weight: 400 !important;
}

#headerwrap .followers h3 {
  margin-top: -10px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 12pt;
  font-weight: 400 !important;
  text-align:left;
  margin-left: 370px;
}

#headerwrap h4 {
  
  margin-top: 5px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 11pt;
  font-weight: 400 !important;
}

#headerwrap .pictureProfile {
  text-align: center;  
}

.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
    margin-top: 5px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 12pt;
    font-weight: 400 !important;
    padding-right: 165px;
    padding-left: 165px;
}

hr.style1{
  border-top: 1px solid white;
  width: 400px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-width: 0.5px;
}


.followers{
margin-top:10px;
text-align:center;
color: white;
font-family: 'Raleway', sans-serif;
  font-size: 12pt;
  font-weight: 400 !important;
}
.numbers{
margin:50px;
color: white;
}
.content{
display:inline-block;
}
.letters{
display:block;
}
.text{
margin-top:10px;
text-align:center;
color: white;
font-family: 'Raleway', sans-serif;
  font-size: 12pt;
  font-weight: 400 !important;
  width: 400px;
    margin: auto;
    text-align: justify;
}

.fa,.iconSocial{
  font-size:26px;
  color: white;
  margin-right: 30px;

}

.arrowdown {
margin-top: 100px;
}

 .post-image{
       width:70%;
         display: inline-block;

    }
    .comments{
      
    }
    .post-image img{
      width:100%;
    }
  .post-comment{
    width: 25% !important;
    display: inline-block;
    position: absolute;
    }
    .post-comment img{
          position: absolute;
    width: 50px;
    border-radius: 50%;
    margin-left: 200px;
    margin-top: -70px;
}

.btn-follow{
    background: #3196ae;
    color: white;
    margin-left: 200px;
    padding: 4px 10px !important;
    margin-top: -30px;
    font-size: 10px !important;
}
.btn-like{
    background: #3196ae;
    color: white;
    margin-left: 10px;
    padding: 4px 10px !important;
    margin-top: 0px;
    width: 100%;
    font-size: 10px !important;
    margin-bottom: 10px;
}
.likes{
  list-style: none;
}

.likes li{
  float: left;
  margin: 5px;
}
  .border{
    border: 1px solid black;
    margin: 10px;
    width: 100%;
  }
  .tool{
    width: 100px;
    border-radius: 0 !important;
    position: relative !important;
    margin-left: 10px !important;
    margin-top: 0 !important;
  }
  .info{
    list-style: none;
    margin-left: -25px;
  }
  .date{
        margin-left: 10px;
    font-size: 12px;
    color:darkgrey;
  }
  .txt-comment{
    width: 100%;
    margin-left: 10px;
  height: 100px;
}

.comment{
        margin-left: 60px;
    margin-top: 5px;
    font-size: 10px;
    margin-bottom: 20px;
}
.modal-content{
height: 650px;
}
.img-comment{
  border-radius: 50%;
  display: inline-block;
  margin-top: 0px !important;
  margin-left: 10px !important;
  width: 40px !important;
}
.txt-name{
display: inline-block;
font-weight: bold;

}
.txt-comm{
  /*display: inline-block;*/
}
.txt-date{
  display: inline-block;
  float: right;
  font-size: 10px;
  margin-top: 6px;
}
.post-title{
  font-weight: bold;

}
.post-account{
      font-size: 13px;
    color: darkgrey;
    font-weight: bold;
}

.post-category{
      color: darkgray;
      font-size: 13px;
}